@font-face {
    font-family: Sunwish Maverick;
    src: url(../fonts/Sunwish\ Maverick.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



a {
    text-decoration: none;
    color: #fff;
}

















































header .nav-bar {
    display: flex;
    background: #000;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

header .nav-bar a .logo-nav {
    width: 239px;
    height: 52px;
}

header .nav-bar .toggle-button {
    position: absolute;
    top: 64px;
    right: 28px;
    display: none;
    flex-direction: column;
    gap: 8px;
    height: 32px;
    width: 32px;
    margin-top: 22px;
}

header .nav-bar .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 0px;
}

@media only screen and (min-width: 100px) and (max-width: 768px) {
    header .nav-bar .toggle-button {
        display: flex;
    }
}

header .nav-bar .links-container .nav-ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

header .nav-bar .links-container .nav-ul li {
    list-style: none;
}

header .nav-bar .links-container .nav-ul li a {
    text-decoration: none;
    font-size: 20px;
}

@media only screen and (min-width: 100px) and (max-width: 768px) {
    header .nav-bar .links-container .nav-ul li {
        text-align: center;
    }
}

@media only screen and (min-width: 100px) and (max-width: 768px) {
    header .nav-bar .links-container .nav-ul {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
}

@media only screen and (min-width: 100px) and (max-width: 768px) {
    header .nav-bar .links-container {
        display: none;
        width: 100%;
    }
}

@media only screen and (min-width: 100px) and (max-width: 768px) {
    header .nav-bar .links-container.active {
        display: flex;
        justify-content: center;
    }
}

header .nav-bar .nav-social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

header .nav-bar .nav-social-media a img {
    width: 30px;
}

@media only screen and (min-width: 100px) and (max-width: 768px) {
    header .nav-bar .nav-social-media {
        display: none;
    }
}

@media only screen and (min-width: 100px) and (max-width: 768px) {
    header .nav-bar {
        justify-content: flex-start;
        flex-direction: column;
        gap: 64px;
    }
}

header nav a {
    align-self: flex-start;
}













































body {
    font-family: 'Albert Sans';
    margin: 64px 26px 0px 26px;
    background-image: url(../assets/img/background-mobile.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

@media (max-width: 401px) {
    body {
        margin: 64px 20px 0px 20px;
    }

    body h1 {
        font-size: 60px;
    }
}



li {
    list-style: none;
}



.container {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

h1 {
    font-family: 'Sunwish Maverick';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 79px;
    color: #fff;
    max-width: 590px;
}

p {
    max-width: 590px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 22px;
    font-weight: 400;
    margin-top: 44px;

}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 590px;
    background-color: #F21C42;
    padding: 16px 0px;
    border-radius: 12px;
    font-weight: 900;
    font-size: 18;
    font-style: normal;
    margin-top: 72px;

}