@font-face {
    font-family: Sunwish Maverick;
    src: url(../fonts/Sunwish\ Maverick.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Albert Sans';
    margin: 72px 16px 0px 16px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 72px;
}

h1 {
    font-family: 'Sunwish Maverick';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 79px;
}

p {
    max-width: 800px;
}
