@font-face {
    font-family: Sunwish Maverick;
    src: url(../fonts/Sunwish\ Maverick.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid blue;
}

h1 {
    font-family: 'Sunwish Maverick';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 79px;
    display: flex;
    align-items: center;
    min-width: 366px;
    margin-left: 16px;
    margin-right: 16px;
}